{% extends 'layout.twig' %}

{% block body %}



    <div class="span3 pull-left" style=";height:60px;width: 100%;background-color: #3c3a3f ;margin-left: 0px">
        <div class="container">
            <h2 style="color:#f2f1f1;margin-left:15px"> <img src="/img/check.png" style="height: 20px"></img>todo</h2>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h2 style="color:#f2f1f1;margin-left:15px"> <img src="/img/basecamp.png" style="height: 100px"></img></h2>
        </div>
    </div>















{% endblock %}